body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://raw.githubusercontent.com/nero081/loghi/main/partite/primo/loghi/nero.png') no-repeat center center;
  background-size: cover;
  opacity: 0.2; /* controlla la trasparenza */
  pointer-events: none;
  z-index: -1;
}

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #141414;
      color: #fff;
      animation: fadeIn 2s ease-in;
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    h1 {
      text-align: center;
      font-size: 2em;
      padding: 20px;
      color: #e50914;
      text-transform: uppercase;
      text-shadow: 0 0 20px #e50914, 0 0 40px #fff;
    }

    .menu {
      background-color: #000;
      padding: 10px 20px;
      position: sticky;
      top: 0;
      z-index: 1000;
      box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }

    .menu ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu li {
      margin: 0 15px;
    }

    .menu a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }

    .menu a:hover {
      color: #e50914;
    }

    .griglia {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(130px, 2fr));
      gap: 20px;
      padding: 20px;
    }

    .canale {
  background-color: #222;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px; /* altezza uniforme */
  padding: 0;
  overflow: hidden;
}

    .canale:hover {
      transform: scale(1.08);
      box-shadow: 0 0 10px #e50914;
    }

  .canale img {
      width: 100%;
      height: 140px;
      object-fit: contain;
      background-color: #000;
    }

    .canale p {
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  flex-shrink: 0;
  
}
 
 
 .canale a {
  text-decoration: none;
  color: inherit;
  
}

    #splash {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      color: #e50914;
      font-family: 'Arial Black', sans-serif;
      font-size: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      animation: fadeOut 3s ease-in forwards;
    }

    @keyframes fadeOut {
      0% { opacity: 1; }
      90% { opacity: 1; }
      100% { opacity: 0; visibility: hidden; }
    }
